<div class="container-fluid">

  <div >

    <div *ngIf = "users!= null" class="col-xs-4 bg-info"  >

      <div class="row"  >
        <div class="col-xs-8">
      <div class="  form-group">
        <form #form="ngForm" >
          <div class="form-group">
            <input class="search-box form-control" type="text"
                   [(ngModel)]="search.name" name="search" required>
          </div>
        </form>
      </div>
      </div>

        <div class="col-xs-3">
          <img class="loggedIn-user-image img-circle"  data-toggle="modal"
               data-target="#myModalLoggedUser" [src]="getImageUrlUser(theLogedUser)"
               alt="User Avatar" (click)="setnotSupportedFile()" >
        </div>

    </div>

      <div id="myModalLoggedUser" class="modal fade" tabindex="-1"
           role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-body">
              <form #form="ngForm" >
                <div class="row">
                  <div class="col-xs-5">
                    <input  type="file"  (change) ="uploadFiles($event)" ><br>
                    <button (click)="setModalImage(theLogedUser)" data-toggle="modal"
                            data-target="#myModal"> View Pic</button>
                  </div>
                </div>
              </form>
              <div class="row" *ngIf = "notSupportedFile == true"
                   style="color: red"> File not Supported</div>
            </div>
          </div>
        </div>
      </div>

      <div id="myModal" class="modal fade" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img id="modal-image" [src]="modalImageSrc" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

      <div>
        <div  class="member_list " >
          <div style="cursor: pointer" *ngFor="let user of users | filter: search.name"
               class="left clearfix users" [routerLink]="['./chathistory', user.username]"
               (click)="onSelect(user)" alt="User Avatar"  [ngClass]="color"
               [class.selected]="user === selectedUser">
            <div *ngIf ="user!= theLogedUser " class = "member_list_li">

        <span  class="chat-img pull-left">
                <img  data-toggle="modal" data-target="#myModal" [src]="getImageUrlUser(user)"
                      alt="User Avatar" class="img-circle" (click)="setModalImage(user)">
        </span>

              <div class="chat-body clearfix">
                <h3 class="panel-title">{{ user.username }}</h3>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div  class="col-xs-8 ">
      <router-outlet></router-outlet>
    </div>

  </div>


</div>


