
//style for chat-history.component.html
.chat_list {
  height: 70vh !important;
  overflow-x: hidden !important;
  overflow: scroll;
  overflow-y: auto !important;
  border: 1px solid #dddddd;
}
.chat-hist-cont{
  height: 100vh
}
.send-file-cont{
  border-radius: 10px !important;
  background-color: #DDDDDD !important;
  padding: 20px !important
}
.send-file-cont-inner{
  border:2px !important;
  background-color: #DCF8C6 !important;
  padding: 15px;
  color: black !important;
}
.send-img-cont-inner{
  cursor:pointer !important;
  border:2px !important ;
  background-color: #DCF8C6 !important;
  padding: 15px !important;
  color: black !important;
  width: 20% !important;
  height: 20% !important
}
.send-mess-cont{
  border:2px !important;
  background-color: #DDDDDD !important;
  padding: 15px !important;
  border-radius: 10px !important;
  color: #77846D !important
}
.rec-file-cont{
  border-radius: 10px !important;
  background-color: #DDDDDD !important;
  padding: 20px !important
}
.rec-file-cont-inner{
  border:2px !important;
  background-color: #DCF8C6 !important;
  padding: 15px !important;
  color: black !important
}
.rec-img-cont-inner{
  cursor:pointer !important;
  border:2px !important;
  background-color: #DCF8C6 !important;
  padding: 15px !important;
  color: black !important;
  width: 20% !important;
  height: 20% !important
}
.rec-mess-cont{
  border:2px !important;
  border-radius: 10px !important;
  background-color: #DDDDDD !important;
  padding: 15px !important;
  color: #77846D !important
}


//style for chat.component.html
.member_list {
  height: 80vh !important;
  overflow-x: hidden !important;
  overflow: scroll;
  overflow-y: auto !important;
  border: 1px solid #dddddd;

}
.member_list_li{
  border-bottom: 1px solid #dddddd;
  padding: 6px;
}
.member_list .chat-body {
  margin-left: 47px;
  margin-top: 0;
}
.users :hover{
  background: #428bca none repeat scroll 0 0 ;
  color: #fff;
  cursor:pointer;
}
.chat-img img {
  height: 34px;
  width: 34px !important;
}
.search-box{
  padding: 15px !important;
  margin: 10px !important;
  border-radius: 10px !important
}
.loggedIn-user-image{
  cursor: pointer !important;
  width: 50px !important;
  height: 50px !important
}


