<div class="container-fluid" >
  <div class="row">
    <div style="height: 90vh;
  background-color: #333;" >

      <div style="height: 20%" class="row"></div>
      <div style="align-content: center">
      <div >" class="row">
        <div style="text-align: center">
          <h1 style="color: white">Baqend + Angular (Chat Application)</h1><br>
        </div>
      </div>
      <div style="text-align: center">
        <h2 style="color: white">
          From Developers for Developers.<Br>
          Baqend lets you focus on your application.<Br>
          We make global caching and scalable databases<Br>
          available and easy to use for everyone.<Br>
        </h2>
      </div>

        <div style="text-align: center; padding: 20px" >
          <button style="align-items: center" type="button" class="btn btn-default btn-lg" (click)=" onProceedToChat()" >Proceed to chat</button>
        </div>

      </div>

    </div>
  </div>
</div>
