<div class="container-fluid">
  <div *ngIf = "users!= null" class="row ">

    <div class="col-xs-4 bg-info">

      <div class="form-group">
        <form #form="ngForm" >
          <div class="form-group">
            <input style="padding: 15px; margin: 10px; border-radius: 10px" (keyup.enter) = "onSearch()" type="text" [(ngModel)]="search.name" class="form-control"  name="search" required>
          </div>
        </form>
      </div>


      <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img id="modal-image" [src]="modalImageSrc" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

      <div>
        <div  class="member_list " >
          <div style="cursor: pointer" *ngFor="let user of users" class="left clearfix" (click)="onSelect(user)" alt="User Avatar" class="users" [ngClass]="color" [class.selected]="user === selectedUser">
            <div class = "member_list_li selected-user ">

        <span  class="chat-img pull-left">
                <img  data-toggle="modal" data-target="#myModal" [src]="getImageUrlUser(user)" alt="User Avatar" class="img-circle" (click)="setModalImage(user)">
        </span>

              <div class="chat-body clearfix">
                <h3 class="panel-title">{{ user.username }}</h3>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div  class="col-xs-8 ">
      <chats-list [theuser]="selectedUser" [theuserID]="selectedUserID" ></chats-list>
    </div>

  </div>


  <div *ngIf = "users == null" class="row ">
    <h1 style="color: red"> Please Login to access the chat. If you don't have Login details yet, then register an Account</h1>
  </div>

</div>
